<!DOCTYPE html>
<html lang="ro" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="George Brata">
    <meta name="description"
        content="Casertyna Imobiliare este o companie înfințată în 2016, care se ocupă cu închirierea unui sistem de cofrare profesional. Pentru a ne atinge obiectivul încercam să oferim soluții și materiale de înaltă calitate cliențiilor noștrii, mizând pe eficiență și siguranța acestora.">
    <meta name="keywords" content="Casertyna Imobiliare, Casertyna Imobiliare Oradea">
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../img/favicons/site.webmanifest">
    <link rel="mask-icon" href="../img/favicons/safari-pinned-tab.svg" color="#9d9e61">
    <link rel="shortcut icon" href="../img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="../img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Servicii | Casertyna Imobiliare Oradea">
    <meta name="description"
        content="Oferim soluții pentru construcții și materiale de înaltă calitate cliențiilor noștrii din 2016.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://casertyna-imobiliare.ro/">
    <meta property="og:title" content="Casertyna Imobiliare Oradea">
    <meta property="og:description"
        content="Oferim soluții pentru construcții și materiale de înaltă calitate cliențiilor noștrii din 2016.">
    <meta property="og:image" content="https://i.ibb.co/YpFcLSy/marfa-metaimage-website-1.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://casertyna-imobiliare.ro/">
    <meta property="twitter:title" content="Casertyna Imobiliare Oradea">
    <meta property="twitter:description"
        content="Oferim soluții pentru construcții și materiale de înaltă calitate cliențiilor noștrii din 2016.">
    <meta property="twitter:image" content="https://i.ibb.co/YpFcLSy/marfa-metaimage-website-1.png">

    <title>Servicii | Casertyna Imobiliare Oradea</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Alata:100,200,400,300,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="../css/linearicons.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/main.css">
    <style>
        .about-video-left {
            padding-left: 0;
        }

        @media (min-width: 992px) {
            .about-video-left {
                padding-left: 100px;
            }
        }
    </style>
</head>

<body>

    <header id="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                        <a href="tel:+40 0785 222 902">+40 0785 222 902</a>
                        <a href="mailto:csnimobiliare@gmail.com">csnimobiliare@gmail.com</a>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
						<li class="menu-active"><a href="../">Acasa</a></li>
						<li><a href="../servicii">Servicii</a></li>
                        <!-- <li><a href="services.html">Servicii</a></li> -->
                        <!-- <li><a href="projects.html">Proiecte</a></li> -->
                        <!-- <li class="menu-has-children"><a href="">Blog</a>
				            <ul>
				              <li><a href="blog-home.html">Acasa Blog</a></li>
				              <li><a href="blog-single.html">Postare Blog (template)</a></li>
				            </ul>
				          </li>	 -->
                        <!-- <li class="menu-has-children"><a href="">Pagini (template)</a>
				            <ul>
			              		<li><a href="project-details.html">Detalii proiect</a></li>		
				                <li><a href="elements.html">Elemente</a></li>
						          <li class="menu-has-children"><a href="">Nivel 2 </a>
						            <ul>
						              <li><a href="#">Element unu</a></li>
						              <li><a href="#">Element doi</a></li>
						            </ul>
						          </li>					                		
				            </ul>
				          </li>					          					          		           -->
                        <li><a href="../contact">Contact</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Serviciile Casertyna
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Acasă </a> <span
                            class="lnr lnr-arrow-righÎt"></span> <a href="about.html"> Servicii</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <div id="app">
    </div>

    <section class="blog-area section-gap" id="quotes">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10">Lista servicii Cartyna Imobiliare</h1>
                        <p>Date updatate in timp real de <a
                                href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSq9Ou8j0PiCDnkD3v1J-RVycCnByDFCsaTpnA3XNnn0_yLOULHZ0CqnyHfp_RcLUbre3Yuz80CCfOG/pubhtml?gid=1887831099&single=true"
                                target="_blank">aici</a></p>
                    </div>
                </div>
            </div>

            <section class="about-video-area section-gap" v-for="quote in quotes">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 justify-content-center align-items-center d-flex relative">
                            <img :src="quote.imgurl" alt="da">
                        </div>
                        <div class="col-lg-7 about-video-left pt-4">
                            <h6 class="text-uppercase"><span v-for="(category, index) in quote.categories"
                                    class="mr-4">{{ category }}</span></h6>
                            <h1>
                                {{ quote.name }}
                            </h1>
                            <p class="mb-4">
                                <span>{{ quote.description }} </span>
                            </p>
                            <p class="mt-4">
                                ID: {{ quote.id }}
                            </p>
                            <a class="primary-btn mt-30" href="#">Cere oferta pentru {{ quote.name }}</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <script>
        // URL to the JSON data of the Google Spreadsheet
        var gsheet_url = "https://spreadsheets.google.com/feeds/list/1LCzcdYkO38e4LtSo75z0MV-6zzF5tPl83fwk5qRxtOg/1/public/values?alt=json";

        // Global variables to hold the data from the spreadsheet
        var quoteList = [];
        var authorList = [];
        var categoryList = [];

        // Load data when the page is ready
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: null
                }
            },
            mounted() {
                axios
                    .get(gsheet_url)
                    .then(response => (
                        parseData(response.data.feed.entry)
                    ))
            }
        });

        var quotes = new Vue({
            el: '#quotes',
            data: {
                quotes: quoteList
            }
        });

        var authors = new Vue({
            el: '#authors',
            data: {
                authors: authorList
            },
            methods: {
                selectAuthor: function (event) {
                    var selected = [];
                    var author = event.target.getAttribute('data');
                    quoteList.forEach(function (value) {
                        if (value.author == author) {
                            selected.push(value);
                        }
                    });
                    quotes.quotes = selected;
                }
            }
        });

        var resetFilter = new Vue({
            el: '#reset-filter',
            methods: {
                reset: function (event) {
                    quotes.quotes = quoteList;
                }
            }
        });

        var categories = new Vue({
            el: '#categories',
            data: {
                categories: categoryList
            },
            methods: {
                selectCategory: function (event) {
                    var selected = [];
                    var category = event.target.getAttribute('data');
                    quoteList.forEach(function (value) {
                        if (value.categories.includes(category)) {
                            selected.push(value);
                        }
                    });
                    quotes.quotes = selected;
                }
            }
        });

        function parseData(entries) {

            var authorSet = new Set();
            var categorySet = new Set();

            entries.forEach(function (value) {
                var entry = {
                    "id": value.gsx$id.$t,
                    "name": value.gsx$name.$t,
                    "description": value.gsx$description.$t,
                    "imgurl": value.gsx$imgurl.$t,
                    "categories": value.gsx$categories.$t.split(",")
                };
                authorSet.add(entry.author);

                entry.categories.forEach(function (t) {
                    categorySet.add(t);
                });

                quoteList.push(entry);
            });
            authorList = Array.from(authorSet);
            authorList.sort();

            categoryList = Array.from(categorySet);
            categoryList.sort();

            quotes.quotes = quoteList;
            authors.authors = authorList;
            categories.categories = categoryList;
        }

    </script>

    <script src="../js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="../js/easing.min.js"></script>
    <script src="../js/hoverIntent.js"></script>
    <script src="../js/superfish.min.js"></script>
    <script src="../js/jquery.ajaxchimp.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/jquery.nice-select.min.js"></script>
    <script src="../js/mail-script.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script
</body>

</html>